In [6]:
import pandas as pd

data = pd.read_table('..\data.tsv')

In [7]:
find500 = data.loc[data['numVotes'] == 500]
find500

            tconst  averageRating  numVotes
3595     tt0013674            7.0       500
9018     tt0024561            6.8       500
11826    tt0028277            7.7       500
22779    tt0041956            6.5       500
27186    tt0047361            7.3       500
...            ...            ...       ...
1043265  tt8960572            6.0       500
1059269  tt9454484            8.7       500
1062934  tt9614612            7.7       500
1064691  tt9680914            7.1       500
1069708  tt9895050            9.0       500

[110 rows x 3 columns]

In [8]:
find500['averageRating'].mean()

6.731818181818184