In [3]:
import pandas as pd

data = pd.read_table('..\data.tsv')
data = data.sort_values('numVotes').reset_index()

In [2]:
data.tconst.duplicated().sum()

0

In [4]:
find500 = data.loc[data['numVotes'] == 500]
find500

          index     tconst  averageRating  numVotes
979357   826418  tt4247300            7.9       500
979358  1043265  tt8960572            6.0       500
979359    33085  tt0054298            3.7       500
979360   765303  tt3231390            3.6       500
979361   607731  tt1648683            7.5       500
...         ...        ...            ...       ...
979462   768276  tt3276280            8.3       500
979463   839489  tt4493298            7.9       500
979464    47284  tt0070783            5.1       500
979465   597954  tt1592534            6.6       500
979466   176359  tt0303487            5.9       500

[110 rows x 4 columns]

In [4]:
find500['averageRating'].mean()

6.731818181818184

In [5]:
rangeQ = data[data['numVotes'].between(30000, 40000, inclusive="both")]
rangeQ

          index     tconst  averageRating  numVotes
1065028   32968  tt0054167            7.7     30022
1065029   10652  tt0026778            7.9     30034
1065030   65199  tt0091828            5.6     30037
1065031  773789  tt3361792            6.8     30041
1065032  572980  tt1456941            6.2     30049
...         ...        ...            ...       ...
1065976  616056  tt1698641            6.2     39951
1065977   83906  tt0114287            6.9     39963
1065978  226387  tt0421729            4.7     39979
1065979  567389  tt1423995            5.4     39988
1065980  958452  tt6742252            7.5     39996

[953 rows x 4 columns]

In [6]:
find1000=data.loc[data['numVotes'] == 1000]
find1000

            tconst  averageRating  numVotes
16668    tt0034386            6.5      1000
18105    tt0036135            6.6      1000
25195    tt0044905            6.8      1000
28669    tt0049131            7.5      1000
33562    tt0054854            7.2      1000
51213    tt0075391            6.1      1000
57319    tt0082516            5.8      1000
73636    tt0101692            6.6      1000
88264    tt0119623            6.0      1000
146267   tt0240292            8.1      1000
170176   tt0290637            7.1      1000
209141   tt0381842            6.4      1000
218660   tt0402764            6.2      1000
231085   tt0433028            6.2      1000
232550   tt0436727            6.4      1000
240098   tt0456012            7.7      1000
250822   tt0483437            7.5      1000
282435   tt0558720            8.6      1000
288355   tt0572185            7.0      1000
288376   tt0572206            7.0      1000
347403   tt0709212            7.7      1000
351537   tt0720089            8.5      1000
356003   tt0734605            7.6      1000
376922   tt0793708            8.7      1000
403781   tt0877112            8.1      1000
445923  tt10299836            8.6      1000
464032  tt10717964            8.7      1000
502560   tt1170405            4.4      1000
507036   tt1181919            6.6      1000
540811   tt1291170            7.0      1000
575915   tt1473105            7.1      1000
585314   tt1523939            5.1      1000
604206   tt1629336            8.5      1000
677051   tt2120780            7.8      1000
762256   tt3183264            7.6      1000
770059   tt3303446            6.6      1000
791713   tt3638298            7.3      1000
821986   tt4168910            8.5      1000
905482   tt5719564            8.8      1000
938561   tt6303292            9.0      1000
993530   tt7550952            5.8      1000
996259   tt7613412            8.2      1000

In [7]:
print("------------Experiment 3-------------")
print("Num Records: \t", find500.shape[0])
print("Min NumVotes: \t",find500['numVotes'].min())
print("Max NumVotes: \t",find500['numVotes'].max())
print("Duplicates: \t", find500.numVotes.duplicated().sum())
print("avg Rating: \t", find500['averageRating'].mean())

print("------------Experiment 4-------------")
print("Num Records: \t", rangeQ.shape[0])
print("Min NumVotes: \t",rangeQ['numVotes'].min())
print("Max NumVotes: \t",rangeQ['numVotes'].max())
print("Duplicates: \t", rangeQ.numVotes.duplicated().sum())
print("avg Rating: \t", rangeQ['averageRating'].mean())

print("------------Experiment 5-------------")
print("Num Records: \t", find1000.shape[0])

------------Experiment 3-------------
Num Records: 	 110
Min NumVotes: 	 500
Max NumVotes: 	 500
Duplicates: 	 109
avg Rating: 	 6.731818181818184
------------Experiment 4-------------
Num Records: 	 953
Min NumVotes: 	 30022
Max NumVotes: 	 39996
Duplicates: 	 52
avg Rating: 	 6.727911857292764
------------Experiment 5-------------
Num Records: 	 42

In [8]:
rangeQ['averageRating'].mean()

6.727911857292764